* {
  box-sizing: border-box;
}

div {
  border: solid black;
}

.root {
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
}

.sidebar {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  max-width: 200px;
}

.dataTable {
  flex: 6 6 auto;
  height: 100%;
  overflow: scroll;
  display: flex;
  flex-flow: column nowrap;
  align-content: flex-start;
}

.detailsViews {
  flex: 6 6 auto;
  display: flex;
  flex-flow: column nowrap;
}

.hexViewer {
  flex: 1 1 auto;
}

.structDetails {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row nowrap;
}

.structViewer {
  flex: 1 1 auto;
}

.structEditor {
  flex: 1 1 auto;
}

.sidebarFeatures {
  list-style: none;
}

.sidebarPreferences {
  list-style: none;
}
